<h1>글 상세 페이지</h1>

<ul style="display : flex; gap: 20px">
  <a href="/article/write">글 쓰기</a>
  <a href="/article/list">글 목록</a>
</ul>
<hr>
<h2>번호 : <span th:text="${article.id}"></span></h2>
<h2>제목 : <span th:text="${article.title}"></span></h2>
<h2>내용</h2>
<div th:text="${article.body}"></div>
<div></div>
<ul style="display : flex; gap: 20px">
  <a th:href="|/article/modify/${article.id}|">글수정</a>
  <a onclick="return confirm('정말로 삭세하시겠습니까?')" th:href="|/article/delete/${article.id}|">글삭제</a>
</ul>